
body
{
	background:cornsilk;
}
#hidden
{
	display:none;
	position:absolute;
	bottom:6em;
	left:48em;
	border:.5px solid rgb(175,45,175);
	width:23em;
	max-width:23em;
	z-index=-1;
}
#hidden p
{
	margin-left:9%;
	line-height:150%;
}
#hidden input
{
	margin-left:20%;
	margin-bottom:1em;
}
#hidden_time
{
	display:none;
}
#main
{
	background:white;
	border:1px solid black;
	margin: 10px;
	width:60%;
	height:95%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
}
h1,#info
{
	text-align:center;
	color:rgb(175,45,175);
}
.input
{
	margin-left:12%;
}
#picture
{
	
	
}
#picture
{
	border: .25px solid black;
	width:450px;
	z-index:-1;
	margin-top:12%;
	margin-left:28%;
	margin-bottom:10%;
	padding:0;
	
	
}


#previous {
  
position:absolute;
left:20%;
top:138%;
z-index:2;
  padding: 8px 16px;
  text-decoration: none;
}

#next {
  
  position:absolute;
  top:138%;
  right:33%;
  padding: 8px 16px;
  text-decoration: none;
  z-index:2;
}


